<p id="notice"><%= notice %></p>

<p>
  <strong>Posterior Male Height Score:</strong>
  <%= @male_classifier.posterior_height %>
</p>

<p>
  <strong>Posterior Male Weight Score:</strong>
  <%= @male_classifier.posterior_weight %>
</p>

<p>
  <strong>Posterior Female Height Score:</strong>
  <%= @female_classifier.posterior_height %>
</p>

<p>
  <strong>Posterior Female Weight Score:</strong>
  <%= @female_classifier.posterior_weight %>
</p>
<br>
<br>

<p>
  <strong>Female Posterior Score:</strong>
  <%= @female_classifier.score %>
</p>

<p>
  <strong>Male Posterior Score:</strong>
  <%= @male_classifier.score %>
</p>
<br>
<br>
<strong>VERDICT: PREDICTED TO BE A
  <% if @prediction.male? %>
    MALE
  <% elsif @prediction.female? %>
    FEMALE
  <% else %>
    NO PREDICTION FOUND
  <% end %>
</strong>
<br>
<br>






<%= link_to 'Edit', edit_prediction_path(@prediction) %> |
<%= link_to 'Back', new_prediction_path %>
