<p id="notice"><%= notice %></p>

<p>
  <strong>Male Posterior Height:</strong>
  <%= @prediction.male_classifier.posterior_height %>
</p>

<p>
  <strong>Male Posterior Weight:</strong>
  <%= @prediction.male_classifier.posterior_weight %>
</p>

<p>
  <strong>Female Posterior Height:</strong>
  <%= @prediction.female_classifier.posterior_height %>
</p>

<p>
  <strong>Female Posterior Weight:</strong>
  <%= @prediction.female_classifier.posterior_weight %>
</p>
<br>
<br>

<p>
  <strong>Male Posterior Numerator:</strong>
  <%= @prediction.male_classifier.posterior_numerator %>
</p>

<p>
  <strong>Female Posterior Numerator:</strong>
  <%= @prediction.female_classifier.posterior_numerator %>
</p>
<br>
<br>
<strong>VERDICT: PREDICTED TO BE A
  <%= @prediction.gender.upcase %>
</strong>
<br>
<br>






<%= link_to 'Back', new_prediction_path %>
